name: ci

on: [push]

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c

      - name: Run GoReleaser (build)
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
        with:
          distribution: goreleaser
          version: latest
          args: build --snapshot

      - name: Test
        run: go test -v ./...

      - name: Version
        run: go run . version

      - name: Run against local docker daemon
        run: |
          go run . build \
            --target-repo "test/repo" \
            "./dist/tko_linux_amd64_v1"
        env:
          TKO_TARGET_TYPE: LOCAL_DAEMON
