name: publish latest

on: 
  push:
    branches:
      - main

permissions:
  packages: write

jobs:
  publish:
    name: Publish latest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00

      - name: Run GoReleaser (build)
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
        with:
          distribution: goreleaser
          version: latest
          args: build --snapshot

      - name: Use built tko for publish
        run: cp ./dist/tko_linux_amd64_v1/tko /usr/local/bin/tko
      
      - name: Publish (latest)
        run: |
          tko build \
            --target-repo "ghcr.io/dskiff/tko:latest" \
            --entrypoint  "/bin/bash" \
            "./dist/tko_linux_amd64_v1"
        env:
          GITHUB_TOKEN: ${{ github.token }}
