name: release

on:
  push:
    tags:
      - '*'

permissions:
  contents: write
  packages: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@4aaadf42668403795cdfdb15b1c4250e9fed12b9

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # NOTE: Generally, ko should be preferred for golang, but this is an attempt to dogfood tko
      - name: Use built tko for publish
        run: cp ./dist/tko_linux_amd64_v1/tko /usr/local/bin/tko
      
      - name: Publish (bin)
        run: |
          tko build \
            --base-ref "scratch" \
            --target-repo "ghcr.io/dskiff/tko:bin" \
            "./dist/tko_linux_amd64_v1"
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Publish (version)
        run: |
          tko build \
            --target-repo "ghcr.io/dskiff/tko:${{ github.ref_name }}" \
            --entrypoint  "/bin/bash" \
            "./dist/tko_linux_amd64_v1"
        env:
          GITHUB_TOKEN: ${{ github.token }}